<app-modal-confirm 
    title="Remover Funcionário"
    text="Deseja realmente remover o funcionário do contrato?"
    btnConfirmText="Sim"
    btnCancelText="Não"
    (onCancel)="onRemoveCancel()" 
    (onConfirm)="onRemoveConfirm()" 
    *ngIf="bRemoveModal"></app-modal-confirm>

<div class="main-card">
    <header>
        <div (click)="headerClick()">
            <img class="icon" src="/assets/icons/right_arrow.svg" #cardArrow>
        </div>
        <div (click)="headerClick()">
            <h3>{{ data.fullName }}</h3>
        </div>
        <div>
            <button class="btn btn-outline-danger" (click)="btnRemoveClick()">Remover</button>
        </div>
    </header>
    <div class="content " [collapse]="isCollapsed " [isAnimated]="true">
        <form [formGroup]="employeeForm">
            <div class="form-group row">
                <div class="form-group col">
                    <label for="inputFullName">Nome Completo</label>
                    <div>
                        <input type="text" class="form-control" id="inputFullName" formControlName="fullName">
                        <button class="no-style btn-edit" *ngIf="employeeForm.controls['fullName'].disabled" (click)="btnEditFullNameClick()" type="button"><img src="assets/icons/edit.svg" class="icon"></button>
                        <button class="no-style btn-edit" *ngIf="!employeeForm.controls['fullName'].disabled" (click)="btnSaveFullNameClick()" type="button"><img src="assets/icons/check.svg" class="icon"></button>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="inputCPF">CPF</label>
                    <div>
                        <input type="text" class="form-control" id="inputCPF" formControlName="cpf" mask="000.000.000-00" [dropSpecialCharacters]="false">
                        <button class="no-style btn-edit" *ngIf="employeeForm.controls['cpf'].disabled" (click)="btnEditCPFClick()" type="button"><img src="assets/icons/edit.svg" class="icon"></button>
                        <button class="no-style btn-edit" *ngIf="!employeeForm.controls['cpf'].disabled" (click)="btnSaveCPFClick()" type="button"><img src="assets/icons/check.svg" class="icon"></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="cards">
            <app-send-doc-card *ngFor="let employeeDoc of data.documents" [data]="employeeDoc">
            </app-send-doc-card>
        </div>
    </div>
</div>