<div class="maincard">

  <aside class="sidebar shadow-sm">

    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
      <div class="picture-wrapper mb-4">
        <div class="user-picture m-auto">
          <img src="../../../../assets/images/user.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="profile-details text-center pb-4">
        <p class="mb-0 text-uppercase name">{{user.nome}}</p>
        <small class="text-uppercase role">{{user.funcao}}</small>
      </div>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
      <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
      <div class="menu-header mt-3 mb-2">
        Menu
      </div>
      <ul class="menu-items">
        <li>
          <a routerLink="" routerLinkActive="active">
            <i class="fa fa-tv"></i>
            <span>Home</span>
            <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
          </a>
        </li>
        <li>
          <a routerLink="/perfil" routerLinkActive="active">
            <i class="fas fa-gem"></i>
            <span>Perfil</span>
          </a>
        </li>
        <li *ngIf="userPermission === 1">
          <a routerLink="/empresas" (click)="isCollapsedEmpresas = !isCollapsedEmpresas" routerLinkActive="active"
            [attr.aria-expanded]="!isCollapsedEmpresas" aria-controls="collapseBasic">
            <i class="fa fa-table"></i>
            <span>Empresas</span>
            <i class="fa fa-caret-down collapse-icon"></i>
          </a>
          <div class="sub-menu" id="subMenuEmpresas" [collapse]="isCollapsedEmpresas" [isAnimated]="true">
        <li>
          <a routerLink="/empresas/cadastrar" routerLinkActive="">
            <span>Cadastro</span>
          </a>
        </li>
</div>
</li>
<li>
  <a routerLink="/documentos" (click)="isCollapsedDocumentos = !isCollapsedDocumentos" routerLinkActive="active"
    [attr.aria-expanded]="!isCollapsedDocumentos" aria-controls="collapseBasic">
    <i class="fa fa-table"></i>
    <span>Documentos</span>
    <i class="fa fa-caret-down collapse-icon"></i>
  </a>
  <div class="sub-menu" id="subMenuDocumentos" [collapse]="isCollapsedDocumentos" [isAnimated]="true">
<li>
  <a routerLink="/documentos/pendentes" routerLinkActive="">
    <span>Documentos Pentes</span>
  </a>
</li>
</div>
<li>
  <a href="#" routerLink="/maps" routerLinkActive="active">
    <i class="fa fa-globe"></i>
    <span>Maps</span>
  </a>
</li>
<li>
  <a href="#" routerLink="/notifications" routerLinkActive="active">
    <i class="fas fa-bell"></i>
    <span>Notifications</span>
  </a>
</li>
</ul>
<div class="menu-header mt-4 mb-4">
  Github Repo
</div>
<div class="view-source mb-3">
  <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank"
    class="btn btn-block btn-lightning rounded-0">View Source</a>
</div>
</nav>
</aside>
</div>
