.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.filter {
    display: flex;
    height: fit-content;
    margin: 25px 0px;
    width: 100%;

    input {
        flex-grow: 1;
        margin-left: 10px;
        margin-right: 10px;
        background-image: url('/assets/icons/search.svg');
        background-repeat: no-repeat;
        background-position: 5px 6px;
        text-indent: 20px;
    }

    button {
        width: 200px;
    }
}

.badge-btn {
    display: inline-flex;

    >app-badge {
        align-self: center;
    }
}