<div class="wrapper">
    <div class="main-card">
        <div class="header">
            <h2>Recuperar Credenciais</h2>
            <hr>
        </div>
        <div class="content">
            <form [formGroup]="formGroup">
                <div class="form-row">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" class="form-control" formControlName="email">
                </div>
            </form>
        </div>
        <div class="footer">
            <button class="btn btn-outline-secondary" id="btnback" (click)="back()">Voltar</button>
            <button class="btn btn-primary" id="btngo">Confimar</button>
        </div>
    </div>
</div>