*:focus {
  outline: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
}


/* estrutura */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 100px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 25px 25px 25px 25px;
  width: fit-content;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

label {
  width: 100%;
  text-align: left;
}

#btnback,
#btngo {
  margin: 25px 5px 0px 5px;
  width: 125px;
  margin-top: 25px;
}


input {
  min-width:300px;
  width: 100%;
}