<div class="wrapper">
  <div id="formContent">
    <div class="name">
      <h2>Recuperar Credenciais</h2>
      <hr />
    </div>

    <form [formGroup]="formGroup">
      <div class="form-row">
        <label for="login">E-mail</label>
        <input type="text" id="login" name="login" class="form-control" formControlName = "email">
      </div>

      <button class="btn btn-outline-secondary"  id="btnback" (click)="back()">Voltar</button>
      <button class="btn btn-primary" id="btngo">Confimar</button>
    </form>
  </div>
</div>
