<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2">
      <small> Criado desde © 2022 <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <span
          class="text-secondary font-weight-bold">Grupo While(TRUE)
        </span></small>
    </div>
    <div class="col-md-12 text-center mb-3">
      <!-- GIT GUSTAVO -->
      <a href="https://github.com/GustavoDBP" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2">Gustavo Peres <i
          class="fab fa-github"></i></a>

      <!-- GIT CARLOS -->
      <a href="https://github.com/ZalecDev" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2">Carlos Victor <i
          class="fab fa-github"></i></a>

      <!-- GIT Livia -->
      <a href="https://github.com/livia-ms" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2">Livia <i
          class="fab fa-github"></i></a>

      <!-- GIT MARIA -->
      <a href="https://github.com/mahhdev" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2">Maria <i
          class="fab fa-github"></i></a>
      <!-- GIT Leo -->
      <a href="https://github.com/Paiovezam" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2">Leonardo Paiovezam <i
          class="fab fa-github"></i></a>

    </div>
    <div class="col-md-12 text-center">
      <iframe
        src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=lightning-admin-angular&type=fork&count=true&size=small"
        frameborder="0" scrolling="0" width="80px" height="20px"></iframe>

      <iframe
        src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=lightning-admin-angular&type=star&count=true&size=small"
        frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    </div>


  </div>

</div>
