:focus {
  outline: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #645fff;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

.wrapper {
  background-image: url("../../../../assets/gestao-de-documentos-2-1280x720.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.95;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 100px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 10px 25px 25px 25px;
  width: fit-content;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#forgot {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: small;
}

input:not(input[type=checkbox]) {
  min-width:300px;
  width: 100%;
}

div.form-row {
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox>* {
  margin: 5px;
}

.checkbox>label {
  margin: 0px;
}

.checkbox>input {
  width: auto;
}

label {
  width: 100%;
  text-align: left;
}

#btn-login {
  width: 125px;
  margin-top: 25px;
}

.underlineHover {
  text-decoration: none;
  color: #4c46fa;
}

.underlineHover:hover {
  cursor: pointer;
  text-decoration: underline;
}