<div class="wrapper">
  <div class="main-card">
    <div class="header">
      <h2>Redefinir Senha</h2>
      <hr>
    </div>

    <div class="content">
      <form>
        <div class="form-row">
          <div class="form-group">
            <label for="new-passwd">Senha Nova</label>
            <input class="form-control" type="password" id="new-passwd" name="new-passwd">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="repeat-passwd">Repita a Senha</label>
            <input class="form-control" type="password" id="repeat-passwd" name="repeat-passwd">
          </div>
        </div>
      </form>
    </div>

    <div class="footer">
      <button class="btn btn-primary" id="btn-confirm">Confirmar</button>
    </div>
  </div>
</div>
