<div class="wrapper">
  <div id="formContent">

    <div class="titulo">
      <h5>Redefinir Senha</h5>
      <hr>
    </div>

    <form>
      <div class="form-row">
        <label for="new-passwd">Senha Nova</label>
        <input class="form-control" type="password" id="new-passwd" name="new-passwd">

        <label for="repeat-passwd">Repita a Senha</label>
        <input class="form-control" type="password" id="repeat-passwd" name="repeat-passwd">

        <button class="btn btn-primary" id="btn-confirm">CONFIRMAR</button>
      </div>
    </form>

  </div>
</div>
