.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 100px;
}

#formContent{
    align-items: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 420px;
    height: 300px;
    max-height: 500px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.titulo{
  padding: 15px;
  //font-size: 13px;
}

.corpo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label{
  text-align: left;
  margin-left: 65px;
}

input{
  color: #0d0d0d;
  padding: 8px;
  font-size: 16px;
  margin: -8px 60px 10px 60px;
  border: 2px solid #c5c5c5;
  border-radius: 5px 5px 5px 5px;
}

#btn-confirm{
  background-color: #645fff;
  color: white;
  padding: 8px;
  font-size: 13px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 150px 30px 150px;
}
