<div class="main">
    <div class="main-card">
        <div class="header">
            <h2>Meu Perfil</h2>
            <hr>
        </div>
        <div class="content">
            <div>
                <img [src]="profileImageSource" alt="Imagem de perfil" class="profile-image">
            </div>
            <div>
                <form [formGroup]="profileForm">
                    <div class="form-group row">
                        <div class="form-group col">
                            <label for="inputNome">Nome</label>
                            <input type="text" class="form-control" id="inputNome" formControlName="name">
                        </div>
                        <div class="form-group col">
                            <label for="inputSobrenome">Sobrenome</label>
                            <input type="text" class="form-control" id="inputSobrenome" formControlName="lastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col">
                            <label for="inputEmail">E-Mail</label>
                            <input type="email" class="form-control" id="inputEmail" formControlName="email">
                        </div>
                        <div class="form-group col">
                            <label for="inputCelular">Celular</label>
                            <input type="text" mask="(00) 00000-0000" [dropSpecialCharacters]="false" class="form-control" id="inputCelular" formControlName="phoneNumber">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col">
                            <label for="inputCargo">Cargo</label>
                            <input type="text" class="form-control" id="inputCargo" formControlName="position">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="show" [hidden]="Editing">
                <button type="button" class="btn btn-outline-secondary" (click)="btnEditClick()">Editar</button>
            </div>
            <div class="edit" [hidden]="!Editing">
                <button type="button" class="btn btn-outline-secondary" (click)="btnCancelClick()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="btnSaveClick()">Salvar</button>
            </div>
        </div>
    </div>
</div>