// body {
//   padding: 100px 0;
//   background-color: #efefef;
// }

a,
a:hover {
  color: #333;
}

input[type=password] {
  border: none;
  color: #0d0d0d;
  padding: 21px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 32px;
  width: 85%;
  border: 2px solid #E8E8E8;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  box-shadow: none;
}