.main-card {
    width: 650px;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.main-card.sent {
    height: auto;
}

.main-card.sent>header {
    display: flex;
    align-items: center;
}

.main-card>header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-card>header>div:nth-child(1) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.main-card>header>div:nth-child(1)>h3 {
    margin: 0;
    text-align: left;
}

.main-card>header>div:nth-child(1)>div {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.main-card>header>div:nth-child(1)>div {
    margin: 15px 0px;
    >h6 {
        text-align: left;
        margin: 0;
    }
}

.main-card>div {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.main-card>div>div {
    display: flex;
    align-items: center;
}

.main-card>div>div:nth-child(1) {
    flex-grow: 1;
}

.main-card>div>div:nth-child(2) {
    flex-grow: 0;
}

.fileload {
    display: flex;
    vertical-align: center;
}

.fileload>span {
    max-width: 400px;
    margin-left: 15px;
    font-size: 11px;
    padding-top: 5px;
}

#btn-upload>img {
    margin-bottom: .19em;
    transition: .25s;
}

#btn-upload:hover>img {
    filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(209deg) brightness(103%) contrast(99%);
    transition: .25s;
}

#btn-upload {
    width: 125px;
}

#btn-send {
    width: 85px;
}

.btn-cancel {
    display: flex;
    justify-content: left;
    border: none;
    background: none;
    width: 115px;
}

button>span {
    vertical-align: middle;
    margin-left: 5px;
}

#btn-upload:hover>span {
    color: white;
    transition: .25s;
}