a {
    color: #645fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main-card {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 4px rgba($color: #000000, $alpha: .25);
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-grow: 1;
}

.header {
    flex-grow: 0;
    margin-bottom: 25px;
}

.footer {
    margin-top: 25px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgot {
    margin-bottom: 15px;
    display: flex;
    font-size: small;
    padding: 5px;
    flex-direction: row;
    *>* {
        width: auto;
        padding: 0;
    }
}

input:not(input[type=checkbox]) {
    min-width: 300px;
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox>* {
    margin: 5px;
}

.checkbox>label {
    margin: 0px;
}

.checkbox>input {
    width: auto;
}

label {
    width: 100%;
    text-align: left;
}

#btn-login {
    width: 125px;
    margin-top: 25px;
}

.underlineHover {
    text-decoration: none;
    color: #4c46fa;
}

.underlineHover:hover {
    cursor: pointer;
    text-decoration: underline;
}