<div class="wrapper">
    <div class="main-card">
        <div class="header">
            <h2>Dados da Empresa</h2>
            <hr>
        </div>
        <div class="content">
            <div>
                <form [formGroup]="companyForm">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputRazaoSocial">Razão Social</label>
                            <input type="text" class="form-control" id="inputRazaoSocial" formControlName="razaoSocial">
                        </div>
                        <div class="form-group col">
                            <label for="inputNomeFantasia">Nome Fantasia</label>
                            <input type="text" class="form-control" id="inputNomeFantasia" formControlName="nomeFantasia">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputCNPJ">CNPJ</label>
                            <input type="text" mask="00.000.000/0000-00" class="form-control" id="inputCNPJ" formControlName="CNPJ">
                        </div>
                        <div class="form-group col">
                            <label for="inputInscricaoEstadual">Inscrição Estadual</label>
                            <input type="text" mask="000.000.000.000" class="form-control" id="inputInscricaoEstadual" formControlName="inscricaoEstadual">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail">E-Mail do Responsável</label>
                            <input type="email" class="form-control" id="inputEmail" formControlName="email">
                        </div>
                        <div class="form-group col">
                            <label for="inputCelular">Celular do Responsável</label>
                            <input type="text" mask="(00) 00000-0000" class="form-control" id="inputCelular" formControlName="celular">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <button type="button" class="btn btn-primary" (click)="btnConfrmiClick()">Confirmar</button>
        </div>
    </div>
</div>