<h2 class="name">Menu</h2>
<mat-divider></mat-divider>

<button mat-raised-button class="menu-button" routerLink="">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
<button mat-button class="menu-button" routerLink="perfil">
  <mat-icon>person</mat-icon>
  <span>Perfil</span>
</button>
<button mat-button class="menu-button" routerLink="documentos">
  <mat-icon>description</mat-icon>
  <span>Documentos</span>
</button>
<button mat-button class="menu-button" routerLink="about">
  <mat-icon>info</mat-icon>
  <span>Contato</span>
</button>

<mat-divider></mat-divider>

<button mat-button class="menu-button" routerLink="/help">
  <mat-icon>help</mat-icon>
  <span>Ajuda</span>
</button>
