<app-refuse-document-modal *ngIf="bRefuseModal" (onConfirmClick)="onRefuseConfirm($event)" (onCancelClick)="onRefuseCancel()"></app-refuse-document-modal>

<div class="main-card card" *ngIf="data.status === 1">
    <div>
        <div>
            <h3 tooltip="Abrir documento em uma nova guia" [delay]="1000" (click)="openDocumentFile()">{{ data.title }}</h3>
            <ng-template #popTemplate id="more-info-template">
                <div class="more-info-template-row">Data de solicitação: {{ dateHelper.DateToString(data.requestDate) }}</div>
                <div class="more-info-template-row"><button class="btn btn-primary" (click)="openDocumentFile()">Visualizar</button></div>
            </ng-template>
            <span [popover]="popTemplate" popoverTitle="Dados do documento" placement="top">
                <app-icon icon="comment" [scale]=".75"></app-icon>
            </span>
        </div>
        <div>
            <h6>{{ data.subtitle }}</h6>
        </div>
    </div>
    <div>
        <button class="no-style" (click)="btnApproveClick()" tooltip="Aprovar documento">
            <app-icon icon="circle-check" color="green"></app-icon>
        </button>
        <button class="no-style" (click)="btnRefuseClick()" tooltip="Recusar documento">
            <app-icon icon="circle-cross" color="red"></app-icon>
        </button>
    </div>
</div>