div {
    width: fit-content;
    border-radius: 35px;
    height: 35px;
    background-color: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    margin: 0px 25px;
    font-weight: 200;
}