div{
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    user-select: none;
}

span{
    color: white;
    font-size: 10px;
}