.main {
    width: 100vW;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-card {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba($color: #000000, $alpha: .25);
    padding: 10px 25px 25px 25px;
}

.content {
    display: flex;
    flex-grow: 1;
}

.content>div {
    padding: 20px;
}

.header {
    flex-grow: 0;
}

.header>h2 {
    text-align: center;
}

.footer {
    flex-grow: 0;
}

.footer>div {
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer>div>* {
    margin: 5px;
}

.profile-image {
    width: 100px;
    height: auto;
}

#inputNome {
    width: 250px;
}

#inputSobrenome {
    width: 350px;
}

#inputEmail {
    width: 350px;
}